.navbar{
    display: flex;
    justify-content:space-around;
    padding: 12px;
    box-shadow: 0 1px 2px black;
    background-color: wheat;
    height: 70px;
    top:0;
    position:fixed;
    width:100%;
   
   
}
.cartcount {
  position: absolute;
  top: -8px;
  right: -70px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
}

.navlogo{
    display: flex;
    align-items: center;
gap: 5px;
}
.navlogo p{
    font-size: 25px;
    font-size: 22px;
    font-weight: 600;
    margin: 10px;
}
.navmenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 70px;
color: #625322;
font-size: 18px;
font-weight: 500;
margin-left: 150px;}
.navmenu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    /* font-weight: bold; */
}
.navmenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}
.logincart button{
    width: 147px;
    height: 48px;
    outline: none;
    border-radius: 75px;
    color: gray;
font-size: 18px;
margin-left: 20px;
cursor: pointer;
background-color: white;
}
.logincart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logincart img{
    margin-left: 20px;
    margin-right: -150px;
    margin-top: 5;
    background-color: rebeccapurple;

}
.cartcount{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    margin-left: -105px;
    border-radius: 11px;
    font-size: 14px;
    color: white;
    background-color: red;
   
}
